<!-- This file is a child file that will inherit from the parent file so that we can avoid repetition of codes -->
<!-- The child file must begin with extend key word so that it will be able to inherit from the parent file-->

{% extends "layout.html" %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css')}}">
{% endblock %}

{% block content %}
	{% for post in posts %}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author.username }}</a> <!-- displaying the username of the user -->
		      <small class="text-muted">{{ post.date_posted.strftime("%m/%d/%Y") }}</small>  <!--displaying the date the user upload his content-->
		    </div>
		    <h2><a class="article-title" href="{{ url_for('post', post_id = post.id) }}">{{ post.title }}</a></h2>
		    <p class="article-content"> {{ post.content }} </p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}

<!-- The below code is the same as the above but it is a bad practice in programming because we be doing the same for every file. instead , we put all what is common to every file in 'layout.html' which will serve as the parent file while other file with unique content will serve as the child which will inherit from the parent by using the (extends html block) -->

<!-- <!DOCTYPE html>
<html>
<head>

	<-- The below code is called "code block " which is a templating language-->
	<!-- Jinja is a templating engine, which is part of dependency that flask rest upon for web development -->
<!-- 
	{% if title %}
		<title>Flask Blog- {{title}}</title>
	{% else %}
		<title> Flask Blog </title>
	{% endif  %}
	 -->
<!-- </head>
<body> -->

	 <!-- The below code is called "code block " which is a templating language -->
	<!-- Jinja is a templating engine, which is part of dependency that flask rest upon for web development -->
<!-- 	{% for post in posts %}
		<h1>{{ post.title }}</h1>
		<p>By {{ post.author }} on {{ post.date_posted }}</p>
		<p>{{ post.content }}</p>
	{% endfor %}


</body>
</html>